.dist-marker {
	font: 1em Arial, sans-serif;
	border: 1px solid #000;
	border-radius: 50%;
	text-align: center;
	color: #000;
	background: #fff;
	font-weight: bold;
	width: 1.8em;
  	height: 1.8em;
	padding: 0.25em;
}
